In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
Income_Data = pd.read_csv(url, header = None, names = 
                          ['age', 'workclass', 'nlwgtf', 'education', 'education_num', 
                           'marital_status', 'occupation', 'relationship', 'race', 'sex', 
                           'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'MoreThan50']

                         )

You can find more info about this dataset [here](https://archive.ics.uci.edu/ml/datasets/Census+Income)

In [3]:
Income_Data.head()

,age,workclass,nlwgtf,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,MoreThan50
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
Income_Data.describe()

,age,nlwgtf,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
Income_Data.dropna(how = 'any', inplace = True)
Income_Data.describe()

,age,nlwgtf,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
workclass_dummy = pd.get_dummies(Income_Data.workclass, prefix = 'work')
del workclass_dummy[workclass_dummy.columns.values[0]]

sex_dummy = pd.get_dummies(Income_Data.sex, prefix = 'Sex')
del sex_dummy[sex_dummy.columns.values[0]]

mar_status_dummy = pd.get_dummies(Income_Data.marital_status, prefix = 'mar_status')
del mar_status_dummy[mar_status_dummy.columns.values[0]]

occupation_dummy = pd.get_dummies(Income_Data.occupation, prefix = 'occupation')
del occupation_dummy[occupation_dummy.columns.values[0]]

relationship_dummy = pd.get_dummies(Income_Data.relationship, prefix = 'relationship')
del relationship_dummy[relationship_dummy.columns.values[0]]

race_dummy = pd.get_dummies(Income_Data.race, prefix = 'race')
del race_dummy[race_dummy.columns.values[0]]

country_dummy = pd.get_dummies(Income_Data.native_country, prefix = 'country')
del country_dummy[country_dummy.columns.values[0]]

morethan50_dummy = pd.get_dummies(Income_Data.MoreThan50, prefix = 'over_50')
del morethan50_dummy[morethan50_dummy.columns.values[0]]

education_dummy = pd.get_dummies(Income_Data.education, prefix = 'education')
del education_dummy[education_dummy.columns.values[0]]


Income_Data = pd.concat([Income_Data, workclass_dummy, sex_dummy, mar_status_dummy, occupation_dummy, relationship_dummy, race_dummy,
                        country_dummy, morethan50_dummy, education_dummy], axis=1)

Income_Data.head()

,age,workclass,nlwgtf,education,education_num,marital_status,occupation,relationship,race,sex,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
del Income_Data[Income_Data.columns.values[0]]

In [8]:
Income_Data.head()

,workclass,nlwgtf,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
del Income_Data[Income_Data.columns.values[0]]

In [10]:
Income_Data.head()

,nlwgtf,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
del Income_Data[Income_Data.columns.values[3]]

In [12]:
Income_Data.head()

,nlwgtf,education,education_num,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,Adm-clerical,Not-in-family,White,Male,2174,0,40,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,Exec-managerial,Husband,White,Male,0,0,13,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,Handlers-cleaners,Husband,Black,Male,0,0,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,Prof-specialty,Wife,Black,Female,0,0,40,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
del Income_Data[Income_Data.columns.values[3]]

In [14]:
Income_Data.head()

,nlwgtf,education,education_num,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,Not-in-family,White,Male,2174,0,40,United-States,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,Husband,White,Male,0,0,13,United-States,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,Not-in-family,White,Male,0,0,40,United-States,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,Husband,Black,Male,0,0,40,United-States,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,Wife,Black,Female,0,0,40,Cuba,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
del Income_Data[Income_Data.columns.values[3]]

In [16]:
Income_Data.head()

,nlwgtf,education,education_num,race,sex,capital_gain,capital_loss,hours_per_week,native_country,MoreThan50,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,White,Male,2174,0,40,United-States,<=50K,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,White,Male,0,0,13,United-States,<=50K,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,White,Male,0,0,40,United-States,<=50K,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,Black,Male,0,0,40,United-States,<=50K,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,Black,Female,0,0,40,Cuba,<=50K,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
del Income_Data[Income_Data.columns.values[3]]
Income_Data.head()

,nlwgtf,education,education_num,sex,capital_gain,capital_loss,hours_per_week,native_country,MoreThan50,work_ Federal-gov,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,Male,2174,0,40,United-States,<=50K,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,Male,0,0,13,United-States,<=50K,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,Male,0,0,40,United-States,<=50K,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,Male,0,0,40,United-States,<=50K,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,Female,0,0,40,Cuba,<=50K,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
del Income_Data[Income_Data.columns.values[3]]
Income_Data.head()

,nlwgtf,education,education_num,capital_gain,capital_loss,hours_per_week,native_country,MoreThan50,work_ Federal-gov,work_ Local-gov,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,2174,0,40,United-States,<=50K,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,0,0,13,United-States,<=50K,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,0,0,40,United-States,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,0,0,40,United-States,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,0,0,40,Cuba,<=50K,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
del Income_Data[Income_Data.columns.values[6]]
Income_Data.head()

,nlwgtf,education,education_num,capital_gain,capital_loss,hours_per_week,MoreThan50,work_ Federal-gov,work_ Local-gov,work_ Never-worked,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,2174,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,0,0,13,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,0,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,0,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,0,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
del Income_Data[Income_Data.columns.values[6]]
Income_Data.head()

,nlwgtf,education,education_num,capital_gain,capital_loss,hours_per_week,work_ Federal-gov,work_ Local-gov,work_ Never-worked,work_ Private,...,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,77516,Bachelors,13,2174,0,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,83311,Bachelors,13,0,0,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,215646,HS-grad,9,0,0,40,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,234721,11th,7,0,0,40,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,338409,Bachelors,13,0,0,40,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm

In [22]:
X = Income_Data[Income_Data.columns.values]
del X[Income_Data.columns.values[85]]

y = Income_Data[Income_Data.columns.values[85]]

In [23]:
print X

       nlwgtf      education  education_num  capital_gain  capital_loss  \
0       77516      Bachelors             13          2174             0
1       83311      Bachelors             13             0             0
2      215646        HS-grad              9             0             0
3      234721           11th              7             0             0
4      338409      Bachelors             13             0             0
5      284582        Masters             14             0             0
6      160187            9th              5             0             0
7      209642        HS-grad              9             0             0
8       45781        Masters             14         14084             0
9      159449      Bachelors             13          5178             0
10     280464   Some-college             10             0             0
11     141297      Bachelors             13             0             0
12     122272      Bachelors             13             0             0
13     205019     Assoc-acdm             12             0             0
14     121772      Assoc-voc             11             0             0
15     245487        7th-8th              4             0             0
16     176756        HS-grad              9             0             0
17     186824        HS-grad              9             0             0
18      28887           11th              7             0             0
19     292175        Masters             14             0             0
20     193524      Doctorate             16             0             0
21     302146        HS-grad              9             0             0
22      76845            9th              5             0             0
23     117037           11th              7             0          2042
24     109015        HS-grad              9             0             0
25     216851      Bachelors             13             0             0
26     168294        HS-grad              9             0             0
27     180211   Some-college             10             0             0
28     367260        HS-grad              9             0             0
29     193366        HS-grad              9             0             0
...       ...            ...            ...           ...           ...
32531   33811      Bachelors             13             0             0
32532  204461      Doctorate             16             0             0
32533  337992      Bachelors             13             0             0
32534  179137   Some-college             10             0             0
32535  325033           12th              8             0             0
32536  160216      Bachelors             13             0             0
32537  345898        HS-grad              9             0             0
32538  139180      Bachelors             13         15020             0
32539  287372      Doctorate             16             0             0
32540  252208        HS-grad              9             0             0
32541  202822        HS-grad              9             0             0
32542  129912        HS-grad              9             0             0
32543  119199     Assoc-acdm             12             0             0
32544  199655        Masters             14             0             0
32545  111499     Assoc-acdm             12             0             0
32546  198216     Assoc-acdm             12             0             0
32547  260761        HS-grad              9             0             0
32548   99359    Prof-school             15          1086             0
32549  255835   Some-college             10             0             0
32550   27242   Some-college             10             0             0
32551   34066           10th              6             0             0
32552   84661      Assoc-voc             11             0             0
32553  116138        Masters             14             0             0
32554  321865        Masters             14             0             0
32555  310152   Some-college             10             0             0
32556  257302     Assoc-acdm             12             0             0
32557  154374        HS-grad              9             0             0
32558  151910        HS-grad              9             0             0
32559  201490        HS-grad              9             0             0
32560  287927        HS-grad              9         15024             0

       hours_per_week  work_ Federal-gov  work_ Local-gov  work_ Never-worked  \
0                  40                0.0              0.0                 0.0
1                  13                0.0              0.0                 0.0
2                  40                0.0              0.0                 0.0
3                  40                0.0              0.0                 0.0
4                  40                0.0              0.0                 0.0
5                  40                0.0              0.0                 0.0
6                  16                0.0              0.0                 0.0
7                  45                0.0              0.0                 0.0
8                  50                0.0              0.0                 0.0
9                  40                0.0              0.0                 0.0
10                 80                0.0              0.0                 0.0
11                 40                0.0              0.0                 0.0
12                 30                0.0              0.0                 0.0
13                 50                0.0              0.0                 0.0
14                 40                0.0              0.0                 0.0
15                 45                0.0              0.0                 0.0
16                 35                0.0              0.0                 0.0
17                 40                0.0              0.0                 0.0
18                 50                0.0              0.0                 0.0
19                 45                0.0              0.0                 0.0
20                 60                0.0              0.0                 0.0
21                 20                0.0              0.0                 0.0
22                 40                1.0              0.0                 0.0
23                 40                0.0              0.0                 0.0
24                 40                0.0              0.0                 0.0
25                 40                0.0              1.0                 0.0
26                 40                0.0              0.0                 0.0
27                 60                0.0              0.0                 0.0
28                 80                0.0              0.0                 0.0
29                 40                0.0              0.0                 0.0
...               ...                ...              ...                 ...
32531              99                0.0              0.0                 0.0
32532              60                0.0              0.0                 0.0
32533              50                0.0              0.0                 0.0
32534              39                0.0              0.0                 0.0
32535              35                0.0              0.0                 0.0
32536              55                0.0              0.0                 0.0
32537              46                0.0              0.0                 0.0
32538              45                0.0              0.0                 0.0
32539              10                0.0              0.0                 0.0
32540              40                0.0              0.0                 0.0
32541              32                0.0              0.0                 0.0
32542              25                0.0              0.0                 0.0
32543              48                0.0              1.0                 0.0
32544              30                0.0              0.0                 0.0
32545              20                0.0              1.0                 0.0
32546              40                0.0              0.0                 0.0
32547              40                0.0              0.0                 0.0
32548              60                0.0              0.0                 0.0
32549              40                0.0              0.0                 0.0
32550              50                0.0              0.0                 0.0
32551              40                0.0              0.0                 0.0
32552              45                0.0              0.0                 0.0
32553              11                0.0              0.0                 0.0
32554              40                0.0              0.0                 0.0
32555              40                0.0              0.0                 0.0
32556              38                0.0              0.0                 0.0
32557              40                0.0              0.0                 0.0
32558              40                0.0              0.0                 0.0
32559              20                0.0              0.0                 0.0
32560              40                0.0              0.0                 0.0

       work_ Private           ...             education_ 9th  \
0                0.0           ...                        0.0
1                0.0           ...                        0.0
2                1.0           ...                        0.0
3                1.0           ...                        0.0
4                1.0           ...                        0.0
5                1.0           ...                        0.0
6                1.0           ...                        1.0
7                0.0           ...                        0.0
8                1.0           ...                        0.0
9                1.0           ...                        0.0
10               1.0           ...                        0.0
11               0.0           ...                        0.0
12               1.0           ...                        0.0
13               1.0           ...                        0.0
14               1.0           ...                        0.0
15               1.0           ...                        0.0
16               0.0           ...                        0.0
17               1.0           ...                        0.0
18               1.0           ...                        0.0
19               0.0           ...                        0.0
20               1.0           ...                        0.0
21               1.0           ...                        0.0
22               0.0           ...                        1.0
23               1.0           ...                        0.0
24               1.0           ...                        0.0
25               0.0           ...                        0.0
26               1.0           ...                        0.0
27               0.0           ...                        0.0
28               1.0           ...                        0.0
29               1.0           ...                        0.0
...              ...           ...                        ...
32531            0.0           ...                        0.0
32532            1.0           ...                        0.0
32533            1.0           ...                        0.0
32534            1.0           ...                        0.0
32535            1.0           ...                        0.0
32536            1.0           ...                        0.0
32537            1.0           ...                        0.0
32538            1.0           ...                        0.0
32539            0.0           ...                        0.0
32540            0.0           ...                        0.0
32541            0.0           ...                        0.0
32542            0.0           ...                        0.0
32543            0.0           ...                        0.0
32544            1.0           ...                        0.0
32545            0.0           ...                        0.0
32546            1.0           ...                        0.0
32547            1.0           ...                        0.0
32548            0.0           ...                        0.0
32549            0.0           ...                        0.0
32550            0.0           ...                        0.0
32551            1.0           ...                        0.0
32552            1.0           ...                        0.0
32553            1.0           ...                        0.0
32554            1.0           ...                        0.0
32555            1.0           ...                        0.0
32556            1.0           ...                        0.0
32557            1.0           ...                        0.0
32558            1.0           ...                        0.0
32559            1.0           ...                        0.0
32560            0.0           ...                        0.0

       education_ Assoc-acdm  education_ Assoc-voc  education_ Bachelors  \
0                        0.0                   0.0                   1.0
1                        0.0                   0.0                   1.0
2                        0.0                   0.0                   0.0
3                        0.0                   0.0                   0.0
4                        0.0                   0.0                   1.0
5                        0.0                   0.0                   0.0
6                        0.0                   0.0                   0.0
7                        0.0                   0.0                   0.0
8                        0.0                   0.0                   0.0
9                        0.0                   0.0                   1.0
10                       0.0                   0.0                   0.0
11                       0.0                   0.0                   1.0
12                       0.0                   0.0                   1.0
13                       1.0                   0.0                   0.0
14                       0.0                   1.0                   0.0
15                       0.0                   0.0                   0.0
16                       0.0                   0.0                   0.0
17                       0.0                   0.0                   0.0
18                       0.0                   0.0                   0.0
19                       0.0                   0.0                   0.0
20                       0.0                   0.0                   0.0
21                       0.0                   0.0                   0.0
22                       0.0                   0.0                   0.0
23                       0.0                   0.0                   0.0
24                       0.0                   0.0                   0.0
25                       0.0                   0.0                   1.0
26                       0.0                   0.0                   0.0
27                       0.0                   0.0                   0.0
28                       0.0                   0.0                   0.0
29                       0.0                   0.0                   0.0
...                      ...                   ...                   ...
32531                    0.0                   0.0                   1.0
32532                    0.0                   0.0                   0.0
32533                    0.0                   0.0                   1.0
32534                    0.0                   0.0                   0.0
32535                    0.0                   0.0                   0.0
32536                    0.0                   0.0                   1.0
32537                    0.0                   0.0                   0.0
32538                    0.0                   0.0                   1.0
32539                    0.0                   0.0                   0.0
32540                    0.0                   0.0                   0.0
32541                    0.0                   0.0                   0.0
32542                    0.0                   0.0                   0.0
32543                    1.0                   0.0                   0.0
32544                    0.0                   0.0                   0.0
32545                    1.0                   0.0                   0.0
32546                    1.0                   0.0                   0.0
32547                    0.0                   0.0                   0.0
32548                    0.0                   0.0                   0.0
32549                    0.0                   0.0                   0.0
32550                    0.0                   0.0                   0.0
32551                    0.0                   0.0                   0.0
32552                    0.0                   1.0                   0.0
32553                    0.0                   0.0                   0.0
32554                    0.0                   0.0                   0.0
32555                    0.0                   0.0                   0.0
32556                    1.0                   0.0                   0.0
32557                    0.0                   0.0                   0.0
32558                    0.0                   0.0                   0.0
32559                    0.0                   0.0                   0.0
32560                    0.0                   0.0                   0.0

       education_ Doctorate  education_ HS-grad  education_ Masters  \
0                       0.0                 0.0                 0.0
1                       0.0                 0.0                 0.0
2                       0.0                 1.0                 0.0
3                       0.0                 0.0                 0.0
4                       0.0                 0.0                 0.0
5                       0.0                 0.0                 1.0
6                       0.0                 0.0                 0.0
7                       0.0                 1.0                 0.0
8                       0.0                 0.0                 1.0
9                       0.0                 0.0                 0.0
10                      0.0                 0.0                 0.0
11                      0.0                 0.0                 0.0
12                      0.0                 0.0                 0.0
13                      0.0                 0.0                 0.0
14                      0.0                 0.0                 0.0
15                      0.0                 0.0                 0.0
16                      0.0                 1.0                 0.0
17                      0.0                 1.0                 0.0
18                      0.0                 0.0                 0.0
19                      0.0                 0.0                 1.0
20                      1.0                 0.0                 0.0
21                      0.0                 1.0                 0.0
22                      0.0                 0.0                 0.0
23                      0.0                 0.0                 0.0
24                      0.0                 1.0                 0.0
25                      0.0                 0.0                 0.0
26                      0.0                 1.0                 0.0
27                      0.0                 0.0                 0.0
28                      0.0                 1.0                 0.0
29                      0.0                 1.0                 0.0
...                     ...                 ...                 ...
32531                   0.0                 0.0                 0.0

In [24]:
print y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        1.0
8        1.0
9        1.0
10       1.0
11       1.0
12       0.0
13       0.0
14       1.0
15       0.0
16       0.0
17       0.0
18       0.0
19       1.0
20       1.0
21       0.0
22       0.0
23       0.0
24       0.0
25       1.0
26       0.0
27       1.0
28       0.0
29       0.0
        ...
32531    0.0
32532    1.0
32533    1.0
32534    0.0
32535    0.0
32536    1.0
32537    0.0
32538    1.0
32539    1.0
32540    0.0
32541    0.0
32542    0.0
32543    0.0
32544    0.0
32545    1.0
32546    0.0
32547    0.0
32548    0.0
32549    0.0
32550    0.0
32551    0.0
32552    0.0
32553    0.0
32554    1.0
32555    0.0
32556    0.0
32557    1.0
32558    0.0
32559    0.0
32560    1.0
Name: over_50_ >50K, dtype: float64

In [25]:
n = ['education_number']